/* ------------------------------------------------------------------ */
/* GLOBAL VARIABLES */
/* ------------------------------------------------------------------ */
:root {
  --colour-001: #12376e;
  --colour-002: #34598f;
  --colour-003: #fffeee;
  --colour-004: #458a9f;
  --colour-005: #cccccc;
  --colour-006: #00154c;
  --colour-007: #23487f;
  --colour-008: #bbbbbb;
  --colour-009: #d38800;
  --colour-010: #777777;
}

/* ------------------------------------------------------------------ */
/* GENERAL STYLES */
/* ------------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Alegreya');

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}

* {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------ */
/* NAVBAR 1 STYLES */
/* ------------------------------------------------------------------ */

.container {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(
      6rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content) 70vh min-content;
  grid-row-gap: 1.6rem;
}

.social-icons {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  /* border: solid red 2px; */
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.social-icon {
  font-size: 1.8rem;
  color: var(--colour-001);
  transition: all 0.2s;
}

.social-icon:hover {
  color: var(--colour-002);
  transform: rotate(360deg);
}

.first-nav {
  grid-column: 6 / 10;
  grid-row: 1 / 2;
  /* border: solid red 2px; */
}

.first-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
}

.first-nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--colour-001);
  display: inline-block;
  width: 100%;
  text-align: center;
}

.first-nav-link:hover::after {
  width: 100%;
}

.first-nav-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 0.1rem;
  background-color: var(--colour-001);
  transition: width 0.2s cubic-bezier(0.55, 0, 0.98, 0.54);
  margin: auto; /* start displying from middle and then grow outwards */
}

.first-nav-link span {
  font-size: 1.3rem;
  color: var(--colour-002);
}

.first-nav-link i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

.search {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  /* border: solid red 1px; */
}

.search-input {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  padding: 0.3rem 0.4rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 0.1rem solid var(--colour-001);
  outline: none;
}

.search-button {
  grid-column: 10 / -1;
  grid-row: 1 / 2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ------------------------------------------------------------------ */
/* NAVBAR 2 STYLES */
/* ------------------------------------------------------------------ */

.second-nav {
  grid-column: 2 / 10;
  border-top: 0.1rem solid var(--colour-001);
  border-bottom: 0.1rem solid var(--colour-001);
}

.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}

.second-nav-link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--colour-001);
  padding: 0.8rem 0;
  transition: all 0.5s 0.3s;
}

.second-nav-link::before {
  content: '';
  display: block;
  width: 0;
  height: 0.1rem;
  background-color: var(--colour-001);
  transition: width 0.5s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
  justify-self: start;
}

.second-nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1rem;
  background-color: var(--colour-001);
  transition: width 0.5s cubic-bezier(0.55, 0, 0.98, 0.54),
    background-color 0.5s 0.3s;
  justify-self: end;
}

.second-nav-item:hover .second-nav-link {
  background-color: var(--colour-001);
  color: white;
}

.second-nav-item:hover .second-nav-link::before {
  width: 100%;
  background-color: white;
}

.second-nav-item:hover .second-nav-link::after {
  width: 100%;
  background-color: white;
}

/* ------------------------------------------------------------------ */
/* NAVBAR 2  DROPDOWN STYLES */
/* ------------------------------------------------------------------ */

.second-nav-item:first-child {
  position: relative;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 70rem;
  background-color: var(--colour-003);
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  z-index: 2;
}

.second-nav-item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.dropdown-first-list {
  grid-column: 1/ 3;
}

.dropdown-second-list {
  grid-column: 3/5;
}

.dropdown-image {
  grid-column: 5 / -1;
  width: 100%;
}

.dropdown-list-item {
  list-style: none;
}

.dropdown-list-link {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--colour-002);
  margin: 0 0 1rem 1.6rem;
  display: block;
  text-decoration: none;
}

.dropdown-list-link:hover {
  color: var(--colour-004);
}

/* ------------------------------------------------------------------ */
/* BANNER STYLES */
/* ------------------------------------------------------------------ */

.banner {
  grid-column: 2/ 10;
  grid-row: 4 / 5;
  /* background-color: var(--colour-005); */
  /* border: solid red 5px; */
  position: relative;
  text-align: center;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid blue 3px; */
  text-transform: uppercase;
  z-index: 1;
}

.banner-heading {
  font-size: 10rem;
  color: var(--colour-001);
  padding: 6rem;
}

.banner-button {
  width: 16rem;
  height: 5rem;
  background-image: linear-gradient(
    to top,
    var(--colour-006),
    var(--colour-001),
    var(--colour-007)
  );
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.banner-button-text-one {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s;
}

.banner-button-text-two {
  position: absolute;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  transition: top 0.2s;
}

.banner-button:hover .banner-button-text-one {
  top: -100%;
}

.banner-button:hover .banner-button-text-two {
  top: 50%;
}

/* ------------------------------------------------------------------ */
/* SLIDESHOW STYLES */
/* ------------------------------------------------------------------ */
.slideshow {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slideshow-wrapper {
  display: flex;
  width: 400%;
  height: 100%;
  position: relative;
  animation: slideshow 20s infinite;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--colour-008);
  border: 0.2rem solid var(--colour-009);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  z-index: 1;
}

.slide-button-one {
  left: 47%;
}
.slide-button-two {
  left: 49%;
}
.slide-button-three {
  left: 51%;
}
.slide-button-four {
  left: 53%;
}

.slide-button:focus {
  background-color: var(--colour-001);
}

.slide-button-one:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}

.slide-button-two:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}

.slide-button-three:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}

.slide-button-four:focus ~ .slideshow-wrapper {
  animation: none;
  left: -300%;
}

@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -300%;
  }
  55% {
    left: -300%;
  }
  60% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  90% {
    left: 0;
  }
}

/* ------------------------------------------------------------------ */
/* DAY OFFER STYLES */
/* ------------------------------------------------------------------ */

.day-offer {
  grid-column: 2 / 10;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1.6rem 3.2rem;
  justify-items: center;
}

.day-offer-image-one {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  width: 100%;
}

.day-offer-heading {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  font-size: 6rem;
  color: var(--colour-007);
}

.day-offer-paragraph {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  font-size: 3rem;
  color: var(--colour-002);
}

.day-offer-button {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  background-image: linear-gradient(
    to top,
    var(--colour-006),
    var(--colour-001),
    var(--colour-007)
  );
  color: white;
  font-size: 1.4rem;
  width: 16rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0.2rem 0.2rem 1rem var(--colour-010);
}

.day-offer-button:hover {
  box-shadow: 0.2rem 0.2rem 2rem var(--colour-010);
  cursor: pointer;
}

.day-offer-image-two {
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  width: 100%;
  align-self: end;
}
