.container {
  width: 90%;
  background-color: #efefef;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.item {
  font-size: 2rem;
  background-color: royalblue;
  color: white;
  text-align: center;
}
